.link {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  font-size: 1.0em;
  user-select: none;
  font-family: 'Lovelo';
  font-variant: small-caps;

  &:hover {
    opacity: 0.8;
  }
}

.link .nav {
  opacity: 0.5;
  padding-right: 4em;
  padding-left: 4em;
}

.link.header {
  padding-right: 0.3em;
  padding-left: 0.3em;
  font-variant: none;
  font-size: 1.1em;
}

@media screen and (min-width: 1280px) {
  .link.header {
    padding-right: 0.4em;
    padding-left: 0.4em;
    font-variant: none;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1440px) {
  .link.header {
    padding-right: 0.8em;
    padding-left: 0.8em;
    font-size: 1.3em;
  }
}

.header_internal_link {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  text-indent: 0.2vw;
  font-size: 1vw;
  opacity: 0.5;
  padding-right: 10px;
  padding-left: 10px;
  user-select: none;
  font-family: 'Lovelo';

  &:hover {
    opacity: 0.8;
  }
}
